/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: whitesmoke;
}

.w-100{
  width: 100%;
}
.m-b-15{
  margin-bottom: 15px !important;
}
.m-t-15{
  margin-top: 15px  !important;
}

.m-t-10{
  margin-top: 10px  !important;
}

.card-head{
  background: #e0e5ff;
  .mat-card-title{
    margin-bottom: 0 !important;
    padding: 10px 0;
  }
}

h3{
  color: #3f51b5;
}

em{
  color: #666;
}

.mat-radio-button{
  margin-right: 20px;
}
